/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600); */

/*
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400);
*/

@import url("/css/fonts.css");

body, html {padding:0; margin:0;}

.flexbox {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

#tableofcontents {
  width: 30%;
  padding-right: 20px;
  background: #efefef;
  text-align: right;
}
#contents {
  -webkit-flex: 1;
          flex: 1;
  padding: 10px;
}

#tableofcontents > ul {
  list-style-type:none;
  line-height: 1.7em;
}
#tableofcontents a {
  color:#838383;
}
#tableofcontents a:hover {
  color:#000;
}

body {
  font-family: 'Fira Sans';
  font-size: 1em; font-weight:400;
/*  background: #fcfcfc; */
/*  background: #efefef; */
  line-height: 1.5em;
  color: #383838;
}

b, strong {color: #000; font-weight: 400;}

dt {font-family: 'Inconsolata'; font-weight: bold;}


  .menu-trigger {font-size: 3em; cursor: pointer; color: #979797;}


mast,headline,author,dateCreated, author {
  text-align: left;display:block;
}
.center {text-align: center;}

mast a {color: #222;}


h1, h2, h3, h4 {font-weight: 400; color: #414141; text-transform: lowercase; color: #004182; margin-top: 2em;}

headline h1 {
  font-size: 2.5em;
  letter-spacing: -1.3px;
  font-weight:400;
  line-height:1.2em;
  color:#7c7c7c;
  text-transform: lowercase;
}

img {
  display: block;
  width: 100%;
}

dateCreated, dateModified {display: inline;}

a {color: #005BB5; text-decoration:none;}
a:hover {color: blue;}

pre {
  font-family: 'Inconsolata', monospace;
  margin-bottom:2em;
  margin-top:2em;
  font-weight: normal;
  white-space: pre-wrap;
/*  background: #f2f2f2; */
  background: #efefef;
  padding: 5px;
  white-space:pre-wrap;
  overflow:auto;
  line-height: 1em;
}

code {font-family: 'Inconsolata', monospace; font-weight: bold; font-size: 1em;}

pre code {
  overflow: visible;
  padding: 2px 3px 3px 3px;
/*  padding-top: 1.2em; */
/*  color: #000; */
/*  color: #355282; */
  color:#2f4d79;
  font-weight: 400 !important;
  line-height: 1.4em;
  text-indent: 3px;
  margin-left: -3px;
}

footer {font-size: 75%;margin-top: 40px; line-height:1.4em;}
footer a {color:#6f6f6f;}

/*
@media (min-width: 550px) {
  #wrapper {width: 90%;}
  .toc {
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
  }
  img {width: 80%;}
}
@media (min-width: 768px) {
  img {width:75%%;}
  .toc {
    column-count:3;
    -moz-column-count:3;
    -webkit-column-count:3;
  }
}
@media (min-width: 800px) {

  #wrapper {width:790px; margin-left:auto;margin-right:auto;}
  .toc {
    column-count:3;
    -moz-column-count:3;
    -webkit-column-count:3;
  }
  img {width:70%;}
}

*/
