/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Droid+Sans+Mono|Inconsolata:700|Roboto:300,400,500);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Sans+Pro:600|Droid+Serif:400,700);
*/

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

.title {
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: bold;
  /*color: #292929; */
  color: #000;
  margin-top: 20px;
}

h1 {2em;}
h2 {1.8em;}
h3 {1.4em;}


.title {
  font-size: 2.2em;
  margin-top:0;
  padding-top:0;
  text-align: left; 
}

#org-div-home-and-up  {
  font-family: 'Lucida Grande Unicode','Helvetica', 'Arial', sans-serif ;
  font-size: 16px;
  font-weight: normal;
  margin-bottom:20px;
  margin-right: 10px;
}

body {
  font-family:  'Palatino', 'Times New Roman',serif;
  font-weight: 300;
  line-height: 1.3em;
  /*background: #fbfbfb;
  color: #1f1f1f; */
  font-size: 16px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
}

#postamble {
  font-family: 'Lucida Grande Unicode','Helvetica', 'Arial', sans-serif ;
  font-size: 13px;
  font-weight: normal;
}

/*
#content {
  column-count:2;
  -webkit-column-count:2;
  -moz-column-count:2;
}
*/

#text-table-of-contents {
  width: 100%;
}

#text-table-of-contents h2 {
  color: black;
  border-bottom: 0px;
}

code {
  font-family: 'Anonymous Pro', monospace;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

#org-src-container, pre  {
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
}

/*
table {table-border:none; border-collapse:collapse;}
table, th, td {border: 1px solid #fff;}
*/

table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.right  { text-align: left;  }
th.left   { text-align: left;   }
th.center { text-align: left; }
td.right  { text-align: right;  }
td.left   { text-align: left;   }
td.center { text-align: center; }

/*
pre {
  border: 0px solid gray;
  box-shadow: 0px 0px 0px #eee;
  background: #e0e0e0; 
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top:5px;
  overflow: auto;
  width: 98%;
  margin: 0px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

*/

pre {
  padding: 10px;
  border: 1px solid #ccc;
  overflow: auto;
}

pre.src {
  position: relative;
  overflow: visible;
  padding-top: 1.2em;
}

a:link,  a:visited {
  text-decoration: underlined;
  color: blue;
}

#org-div-home-and-up a:link, #org-div-home-and-up {
  font-size: 100%;
  text-transform: capitalize;
}


ol, ul {padding-left: 10px; margin-left:10px;}


dt { margin-top: 15px;}
dd { margin-top: 6px; margin-left:15px;}

hr {
  border:0;
  color: #DEDEDE;
  background: #DEDEDE;
  height: 4px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.figure {
  padding: 0;
}

img {
  width: 70%;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

#postamble {margin-top:20px;}

.author {color:#000;}

blockquote {
  margin: 25px 10;
  border-bottom: 1px solid gray;
}

@media (min-width: 800px) {
  body {
    width: 700px;
  }
}

/*
@media (min-width: 960px) {
  #content {
    column-count:2;
    -webkit-column-count:2;
    -moz-column-count:2;
  }
  
  img {width: 98%;}
  code {font-size:.85em;}
  body {
    width: 95%;
    font-size: .9em;
  }
  h1 {2em;}
  h2 {1.5em;}
  h3 {1.2em;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    width: 100%;
    font-size: 1.1em;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    width: 98%%;
  }
}
*/
