/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600); */

/*
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400);
*/

@import url("/css/fonts.css");

body {
  font-family: 'Fira Sans';
  font-size: 1em; font-weight:400;
  background: #fcfcfc;
  line-height: 1.6em;
  color: #555;
}

b, strong {color: #000; font-weight: 400;}

#wrapper {
  padding: 10px;
  width: 95%;
}

#jPanelMenu-menu {
  border-right: 1px solid #dbdbdb;
  margin: 5px;
  text-align: center;
  line-height: 2em;
  background: #fff;
}
#menu {
  padding: 10px;
}
  .menu-trigger {font-size: 3em; cursor: pointer; color: #979797;}

#jPanelMenu-menu a {
  text-decoration: none;
  color: #838383;
}
#jPanelMenu-menu a:hover {
  text-decoration: underline;
  color: #000;
}
#jPanelMenu-menu ul {
  list-style-type: none;
  margin:0;
  padding:0;
}


mast,headline,author,dateCreated, author {
  text-align: left;display:block;
}
.center {text-align: center;}

mast a {color: #222;}


h1, h2, h3, h4 {font-weight: 400; color: #414141;}

headline h1 {
  font-size: 2.5em;
  letter-spacing: -1.3px;
  font-weight:400;
  line-height:1.2em;
  color:#7c7c7c;
  text-transform: lowercase;
}

img {
  display: block;
  width: 100%;
}

dateCreated, dateModified {display: inline;}

#toc {color: #005bb5;line-height: 1.9em;}
#toc a {color: #005bb5; text-decoration: none;}
#toc a:hover {color: blue; text-decoration: underline;}

a {color: #005BB5; text-decoration:none;}
a:hover {color: blue;}

pre {
  font-family: 'Inconsolata', monospace; font-size: .95em;
  font-weight: normal;
  margin-bottom:2em;
  margin-top:2em;
  white-space: pre-wrap;
/*  background: #eaeaea;
  color: #000;
  color: #a1e7e0;
  background: #000;
  */
  background: #f2f2f2;
  padding: 5px;
  white-space:pre-wrap;
  overflow:auto;
  line-height: 1em;
}

code {font-family: 'Inconsolata', monospace; font-weight: bold; font-size: 1em;}

pre code {
  font-weight:400;
  overflow: visible;
  padding: 2px 3px 3px 3px;
/*  padding-top: 1.2em; */
/*  color: #000; */
  color: #243b5d;
  font-weight: normal;
  line-height: 1.1em;
  text-indent: 3px;
  margin-left: -3px;
}

footer {font-size: 75%;margin-top: 40px; line-height:1.4em;}
footer a {color:#6f6f6f;}

@media (min-width: 550px) {
  #wrapper {width: 90%;}
  .toc {
    column-count:2;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
  }
  img {width: 80%;}
}
@media (min-width: 768px) {
  img {width:75%%;}
  .toc {
    column-count:3;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
  }
}
@media (min-width: 800px) {
/*  p, table, pre, pre.code, toc {margin-right:12px;margin-left:12px;} */
  #wrapper {width:790px; margin-left:auto;margin-right:auto;}
  .toc {
    column-count:3;
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
  }
  img {width:70%;}
}
