---
title: tedhagos.com
layout: index
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

<!--
<h1 class="pagetitle">{{ page.title }}</h1>
-->

<div id="toc">
<ol reversed>
{% for post in site.posts %}
<li>
  <a href={{post.url}}>
  {{post.title}}
</a>
  {% if post.categories.size > 0 %}
  <span class="category">({{post.categories | join: '  , ' }})</span>
  {% endif %}
  <dateCreated>{{ post.date | date: "%d %b %y" }}</dateCreated>
  <!--
  <dateCreated>{{ post.date | date: "%m.%d.%Y" }}</dateCreated>
  -->
  {% if post.lastupdated %}
  <dateModified>
    , last updated: {{ post.lastupdated | "%d %b %y" }}
  </dateModified>
  {% endif %}
</li>
{% endfor %}
</ol>
</div>

<footer></footer>
</body>
</html>
