---
layout: layout
title: Front Page
---

<!--
<div id="blogtitle">
  <a href="/">tedhagos.com</a>
</div>
-->
<div class="content">

  <!-- PARK THIS FOR NOW, you still need to get traction on TWTD
  <div id="news">
    <a href="#">What is this?</a>
    <p/>
    <a href="#">
    <img src="http://img.thelogbox.com/twtd.png" height="190"style="margin-top:20px;"/>
    </a>
  </div>
  -->
  <div id="articletitle">Ted Hagos</div>  
    <div class='vertical-space'>
    </div>
  
  <div id="articlelist">  
	{% for post in site.posts %}   
    <a href="{{ post.url }}">
    	<span class='content-meta'>
    		{{ post.date | date: "%D " }}
      </span>
      {{ post.title }} 
    </a>
    <br/>

	{% endfor %}
  </div>

</div>
<footer>
	{% include footer.html %}
</footer>

