<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <!--
  <div class="wrapper">

    <div style="background: #fbf2e9;padding:10px;">
      <p>
        <a href="/" class="footer-link">Home</a>
        <a href="/about/" class="footer-link">About</a>
        <a href="/blog/" class="footer-link">Blog</a>
        <a href="https://twitter.com/@lovescaffeine" target="_blank" class="footer-link">@lovescaffeine</a>
      </p>
    </div>
    <div>
      copyright Ted Hagos &copy; {{ 'now' | date: '%Y'}} - Notes from a lifelong 
      coder exploring security, AI, and the future of software
    </div>
  </div>
  -->
  <div class="wrapper" style="text-align: center;">

    <div style="background: #fbf2e9;padding:10px;">
      <p>
        <a href="/" class="footer-link" style="color: #008B8B;">Home</a>
        <a href="/about/" class="footer-link" style="color: #008B8B;">About</a>
        <a href="/blog/" class="footer-link" style="color: #008B8B;">Blog</a>
      </p>
    </div>
    <div>
      copyright Ted Hagos &copy; {{ 'now' | date: '%Y'}} - Notes from a lifelong 
      coder exploring security, AI, and the future of software
    </div>
  </div>


</footer>
