
<div id='header-inner'>
	<!--
  <a href='/android'>android</a> &nbsp;&nbsp;
	<a href='http://feeds.feedburner.com/tedhagos/waEA'>rss</a> &nbsp;&nbsp;
	<a href='mailto:ted@thelogbox.com'>email</a>
-->
	<div id='header-right'>
    <a href='http://feeds.feedburner.com/tedhagos/WHOO'>RSS</a> &nbsp;&nbsp;
    <a href='mailto:ted@thelogbox.com'>EMAIL</a>
    <hr/>
    this site contains notes on 
    <a href='/android/'>android</a> ,
    <a href='/html5/'>html5</a> ,
    <a href='/javascript/'>javascript</a> ,
    <a href='/Python/'>python</a> ,
		<a href='/php/'>php</a> ,
		<a href='/nix/'>unix | linux</a> ,
    <a href='/mactips/'>mac</a> ,
    <a href='/latex/'>latex</a> ,
    <a href='/wordpress/'>wordpress</a> ,
    <a href='/.net/'>.net</a> ,
    <a href='/ios/'>ios</a> ,
    <a href='/java/'>java</a> ,
		<a href='/misc/'>misc</a> ,
		<a href='/'>main page</a>	

</div>

</div>


