

<div class="bookplug">
  <a href="https://www.apress.com/us/book/9781484239063" target="_blank">
      <img src="/images/las3kotlin.jpg" 
      alt="learn android studio 3 with kotlin">
  </a>

    <div class="bookplug-description">
      <h3>Efficient Android App Development</h3>
      <ul>
        <li>
          Use Android Studio 3 to quickly and confidently build your first Android apps
        </li>
        <li>
            Build an Android user interface using activities and layouts, event handling, images, menus and the action bar
        </li>
        <li>
          Learn how to run codes in the background thread
        </li>
        <li>Available for pre-order at <a href="https://www.apress.com/gp/book/9781484239063" target="_blank">Apress</a> or <a href="https://www.amazon.com/Learn-Android-Studio-Kotlin-Development/dp/1484239067/ref=sr_1_1?ie=UTF8&qid=1539340099&sr=8-1&keywords=learn+android+studio+3+with+kotlin" target="_blank">Amazon</a>
      </li>
      </ul>
    </div>
</div>