<style>

* {
  font-family: Arial, serif;
  font-size: 16px;
  color: #414141;
  background: #F8F5F6;
}

p, ol, li , .content-meta {
  font-family: Arial;
  font-size: 16px;
	line-height: 170%;
  line-height: 160%;
  letter-spacing: 110%;
}

em {
  font-style:oblique;
  font-family: Georgia;
  color: #003D82;
}

/*ol, li { font-size: 104%;}*/
ol, li { font-size: 16px;}

strong {
  font-family: Arial;
  font-weight:bold;
  color: #000000;
}

#articletitle {
	font-family: 'Droid Serif',Arial;
  font-size: 65px;
  color: #686868;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom:5px;
  letter-spacing: -2px;
  line-height: 90%;
  text-align: center;
	/*color: #002346;*/
	/*color: #6F0000;*/
	/*color: #435e36;*/
}

.light {
  font-family:'Muli', sans-serif;
  color: #5a8080;
}

#postmeta {
  margin-bottom: 1em;
}

#blogtitle {float:left;}
#rightnav {float:right;}

  #blogtitle a:link, #blogtitle a:visited {
    font-family: 'Tauri';
    font-size: 20px;
    text-decoration:none;
    color: #BBBBBB;
    background: #f6f6f6;
  }
    #blogtitle a:hover{color: #b00000;}

  #rightnav a:link, #rightnav a:visited {
    font-family: 'Tauri';
    font-size: 20px;
    text-decoration:none;
    color: #bbbbbb;
    background: #f6f6f6;
  }
    #rightnav a:hover{color: #b00000;}

    header {
      display:block;
      overflow:hidden;
      opacity: 50%;
    	border-bottom:1px solid #DEDEDE;
    	height: 1em;
    	padding-top:10px;
    	padding-bottom:15px;
      margin-bottom: 60px;
      background: #f6f6f6;
    }


blockquote {
  padding: 5px;
  margin-left: auto;
  margin-right:auto;
  width: 90%;
}

  blockquote p {
    font-family: Georgia;
    font-style: oblique;
    color: #545454;
    text-align: right;
  }


h1, h2, h3, h4, h5 {
	font-family: Arial;

	/*color: #545454;*/
  font-weight:normal;
  color: #2D2D2D;
}

h1 {font-size: 170%; letter-spacing: -1px;}
  h1.chapter {
    font-family: 'Tauri';
    font-size: 34px;
    letter-spacing: -1px;
  }
  
h2 {font-size: 150%; margin-bottom:0;}
h3 {font-size: 130%; margin-bottom:0; color: #000000; }


body {
  margin:0;
  padding:0;
  border:0;
  width: 100%;
}
  #innerbody {
	  width:85%;
	  margin: 0 auto;
  }

footer {
  clear:both;
  font-family: Arial;
	font-size:15px;
	font-style:normal;
	margin-top:1em;
	margin-bottom: 1em;
	padding-top: 1em;
	border-top: 1px solid #DEDEDE;
  text-align: center;
  text-decoration: none;
  color: #bbbbbb;
  background: #f6f6f6;
}
  
  footer a:link, footer a:visited {
    font-family: Arial;
    font-size: 15px;
    color: #bbbbbb;
    background: #f6f6f6;
    text-decoration: none;
  }
  footer a:hover {color: #b00000;}

.content-meta {
  font-family: Georgia;
	font-style: normal;
  color: #686868;
  /*color: #681a1a;*/
	margin-top:0;
	margin-bottom:3em;
  margin-right: 30px;
  text-align: center;
}

img {
  margin-right:auto;
  margin-left:auto;
  display:block;
}

  #cap {
    padding: 10px;
    font-family: Georgia;
    font-size:97%;
    color: #000000;
    text-align:center;
    width: 500px;
    margin-right:auto;
    margin-left:auto;
    
  }

hr {
	border:0;
	color: #d8c7cc;
	background: #d8c7cc;
	height: 5px;
}
  hr.chapterbreak {
    color: #2d2d2d;
    background: #2d2d2d;
    height: 6px;
    margin-top: 40px;
  }

a:link, a:visited { color: #B10000; }
  a:visited { color: #414141;}
    a:hover { color: #FF0000; text-decoration:none;}

#news {
  clear:both;
  width: 200px;
  float:right;
  padding: 20px;
  border:2px solid #61768a;
  overflow: hidden;
  margin-bottom:50px;
  margin-top: 70px;
  text-align: center;
}



#postentry {
  overflow:hidden;
  clear:both;
  padding: 5px;
  border-bottom: 0px dashed #D8C7CC;
  height: auto;
  padding: 10px;
  width: 100%;
}


#postdate {
  padding-top:10px;
  float:left;
  text-align:right;
}
  #postdate #datediv {
    font-size: 24px;
    color: #686868;
    text-align:right;
  }
  #postdate #yeardiv {
    font-size: 30px;
    color: #a3a3a3;
  }

#postcontent {
  position:relative;
  overflow:hidden;
  top: -11px;
  float:right;
  width:85%;
}
  #postcontent h2 a:link, #postcontent h2 a:visited {
    font-family: 'Tauri';
    font-size: 25px;
    letter-spacing: -0.90px;
    /*color: #003D82;*/
    color: #545454;
    font-weight:normal;
    text-decoration: none;
  }
  #postcontent h2 a:hover {
    color: #B10000;
  } 

table {
  border: 1px solid #CACACA;
  width: 100%;
  border-collapse:collapse;
  margin-bottom: 50px;
}
  table th {
    font-family: 'Muli';
    padding: 10px;
    text-align: left;
  }
  table td {
    min-width: 30px;
    max-width: 500px;
    border: 1px solid #CACACA;
    padding: 10px;
    font-family: 'Muli';
    color: gray;
  }
  table td:first-child {
    text-align: right;
    width: auto;
  }
  table td:nth-child(2) {
    text-align: center;
  }
  

pre {

	font-family: 'Muli';
  font-size: 15px;
  color: #000000;
  background: #f0e9ec;
	padding: 10px;
	margin-bottom:0px;
  line-height: 160%; 

}

  pre.codeblock, code.codeblock {
    
    font-family: 'Muli';
    font-size: 15px;
    color: #003D82;
    font-weight: normal;
    background: #F8F5F6; 
    border: 0;

  }

  code * {
    font-family: 'Muli';
    color: #000000;
    background: #f0e9ec;
  }
  
  .hll {background: #f0e9ec;}
  

</style>