<style>

* {
  line-height: 125%;
  background: #FFFFFF;
}

#mast {
  font-family: 'Arial';
  text-align: center;
  color: #999999;
  background: #3d3d3d;
  padding: 1px;
}

  #mast a:link, #mast a:visited, #mast a:hover {
    color: #999999;
    background: #3d3d3d;
    text-decoration: none;
  }

h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {font-size: 35px;} header h1 {text-align:center;}
h2 {font-size: 30px;}
h3 {font-size: 25px;}
h4 {font-size: 20px;}

body {
  margin:0;
  padding:0;
  border:0;
  width: 100%;
}

  .innerbody {
	  width:95%;
	  margin: 0 auto;
  }

footer {
  clear:both;
  text-align:center;
  padding: 20px;
}
  
hr {
	border:0;
	color: #d8c7cc;
	background: #d8c7cc;
	height: 2px;
}
  hr.chapterbreak {
    color: #2d2d2d;
    background: #2d2d2d;
    height: 3px;
    margin-top: 40px;
  }

.notice {
  background: #fff8ba;
  color: #525252;
  text-align: center;
  border: 1px solid #DEDEDE;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Arial';
  font-size: 18px;
}

.light {text-decoration:overline;}

table {
  border: 1px solid #CACACA;
  width: 100%;
  border-collapse:collapse;
  margin-bottom: 50px;
}
  table th {
    font-family: 'Courier';
    padding: 5px;
    text-align: left;
  }
  table td {
    min-width: 30px;
    max-width: 500px;
    border: 1px solid #CACACA;
    padding: 5px;
    font-family: 'Courier';
    color: gray;
  }
  table td:first-child {
    text-align: right;
    width: auto;
  }
  table td:nth-child(2) {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 30px;
  }

  code, pre {
    font-family: 'Inconsolata';
    font-size: 90%;
  }
  
  pre { 
    border: 1px dashed #b1b1b1;
    padding: 10px;
  }


  #cap, .lst {
    text-align: center;
    font-family: 'Georgia';
    color: #b30000;
    margin-top: 0px;
  }


</style>