---
layout: default
---

👏🏻 Hey hey, I'm <a href="/about">Ted</a>. I'm a dev, trainer and author (not necessarily in that order). You found my blog. Here's the last 5 things I wrote.
<p/>

{%- if site.posts.size > 0 -%}
<ul>
  {%- for post in site.posts limit: 5 -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->

      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>

    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
  {%- endif -%}
</ul>

The rest of the articles are in the <a href="/blog/">blog archives</a>, you
can also <a href="">subscribe for email updates</a>. Wed send very infrequent updates. 
We have a very simple privacy policy <em>"we won't share your
personal data with anyone else, and we won't use it for anything other that its 
intended purpose, which is to send you only awesome goodness"</em>; 
for the serious types, you  can read the <a href="/privacy/">privacy policy</a>. 

{%- include las3kotlin.html -%}

<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->
