<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    {% include nostyle.html %}
  </head>
  <body>
        
    <div id="wrap">    
      
    <div class="toc">  
      Minimum Java <p/>    
      <ul>
        <li><a href="#">Front matter</a></li>
        <li><a href="/java-programming">Introduction</a></li>
        <li><a href="/java-key-concepts">Key concepts</a></li>
        <li><a href="/java-beginning-to-program">Beginning to program</a></li>
        <li><a href="/java-identifiers">Identifiers</a></li>
        <li><a href="/java-abstract-classes">Abstract classes</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>  
      
    <article itemscope itemtype="http://schema.org/Article" class='withtoc'>

      <header>
        <h1>{{ page.title }}</h1>
      </header>
      
      <div id="post">
        <div itemprop='articleBody'>
        {{ content }}
        </div>                
      </div>

      <div id="postmeta">
        file: <span itemprop='keywords'>{{ page.tags | join: ',' }} </span><br/>
        last updated: <span itemprop="dateModified">{{ page.lastupdate}} </span><br/>
        by: <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a><p/>
        {% include gfollow.html %}
      </div>
      
      <a class="moot"
        title={{ page.title }}
        href="https://moot.it/i/tedhagos/java:{{ page.title }}">
        Comments 
      </a>
      
      {% include copyright.html %}
    </article>
    
    {% include ga.html %}
    
    <div style="clear:both"></div>
    </div> <!-- wrap -->  
    <footer></footer> 
  </body>
</html>
