<!DOCTYPE HTML>
<html>
  <head>				
		{% include head.html %}
		<link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"/>	
    <link rel="stylesheet" href="css/mobile.css"  type="text/css" media="handheld"/>
    <link rel="stylesheet" href="css/style.min.css"  type="text/css" media="Screen" />
	
  </head>
	
  <body>
    <header>
			{% include header.html %}
    </header>
    <section>
      {{ content }}
    </section>
    {% include statcounter.html %}
  </body>

</html>
