---
layout: default
---


<div class="archive">
  <h1 class="list-heading">Blog Archive</h1>

  <ul>
    {% for post in site.posts %}

      {% unless post.next %}
        <h3 style="color:#613f00; font-weight:bold;">
          {{ post.date | date: '%Y' }}
        </h3>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h3 style="color:#613f00; font-weight:bold;">
            {{ post.date | date: '%Y' }}
          </h3>
        {% endif %}
      {% endunless %}

      <li><span style="color:#b17200;">{{ post.date | date:"%b" }}</span> 
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- {% assign posts_by_year = site.posts | group_by:"year" %}
{% for year in posts_by_year %}
  <h2>{{year.name}}</h2>
  <ul>
  {% for post in year.items %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
  </ul>
{% endfor %} -->


<!-- ORIGINAL -->
<!-- {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3 class="list-heading">{{ yearMonth.name }}</h3>
    <ul class="blog-list">
      {% for post in yearMonth.items %}
        <li class="blog-post-item">
           <a href="{{ post.url }}" class="blog-list">{{ post.title }}</a>
        {% endfor %}
        </li>
    </ul>
{% endfor %} -->