<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    {% include nostyle.html %}

  </head>
  <body>
    
    <div id="wrap"> 
         
    <article itemscope itemtype="http://schema.org/Article" class='notoc'>

      <header><h1 class='center'>{{ page.title }}</h1></header>

      <div id="post">
        <div itemprop='articleBody'>
        {{ content }}
        </div>                
      </div>
      
      <div id="postmeta">
        file: <span itemprop='keywords' class='light'>{{ page.tags | join: ',' }} </span><br/>
        last updated: <span itemprop="dateModified">{{ page.lastupdate}} </span><br/>
        by: <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a><p/>
        {% include gfollow.html %}      
      </div>

      
      {% include copyright.html %}
      
    </article>
    
    
    
    </div> <!-- wrap -->            
    
    <footer>

    </footer>
    
    {% include ga.html %}
    {% include statcounter.html %}
  </body>
</html>
