<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    {% include nostyle.html %}

    <!--
    <link rel="stylesheet" href="../css/style.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/mobile.min.css" type="text/css" media="handheld" />
    <link rel="stylesheet" href="../css/style.min.css" type="text/css" media="Screen" />
    -->

  </head>
  <body>
    
    
    <div id="blogtitle">
    <a href="/">HOME</a>
    </div>
    
    <header>
      <div id="articletitle">{{ page.title }}
      </div>
    </header>
    <div class='content-meta'>
      {{ page.date | date: "%B %d , %Y" }}
    </div>
    <article itemscope itemtype="http://schema.org/Article">
      <div id="post">
        <div itemprop='articleBody'>
        {{ content }}
        </div>                
      </div>
      <p/><p/>
      <a href="/">Go back to HOME page</a>
    </article>

    {% include statcounter.html %}
    {% include ga.html %}
    <footer>
    {% include footer.html %}
  </footer>
  </body>
</html>
