<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
    {% include nostyle.html %}

  </head>
  <body>
    
    <div id="wrap"> 
         
    <article itemscope itemtype="http://schema.org/Article" class='notoc'>

      <header>
        <h1 class='title'>{{ page.title }}</h1>
      <div id="postmeta">
        <a href='https://plus.google.com/+TedHagos?rel=author'>Ted Hagos</a><br/>
        <!-- <span itemprop="dateModified">{{ page.date | date: "%-d %B %Y" }} </span><p/>
        file: <span itemprop='keywords'>{{ page.tags | join: ',' }} </span><br/> -->
      </div>       
      </header>

      <div id="post">
        <div itemprop='articleBody'>
        {{ content }}
        </div>                
      </div>
     
      {% include copyright.html %}
    </article>
    </div> <!-- wrap -->            
    
    <footer>

    </footer>
    {% include ga.html %}
  </body>
</html>
