
@font-face {
font-family: 'Fira Sans';
src: local('Fira Sans'),
 local('Fira Sans'),
 url('/fonts/Fira_Sans/FiraSans-Light.ttf') format('truetype');
font-weight: 300;
font-style: light;
}

@font-face {
font-family: 'Fira Sans';
src: local('Fira Sans'),
 local('Fira Sans'),
 url('/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Fira Sans';
src: local('Fira Sans'),
 local('Fira Sans'),
 url('/fonts/Fira_Sans/FiraSans-Medium.ttf') format('truetype');
font-weight: 500;
font-style: medium;
}

@font-face {
font-family: 'Muli';
src: local('Muli'),
 local('Muli'),
 url('/fonts/Muli/Muli-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Lato';
src: local('Lato'),
 local('Muli'),
 url('/fonts/Lato/Lato-Light.ttf') format('truetype');
font-weight: 300;
font-style: light;
}

@font-face {
font-family: 'Lato';
src: local('Lato'),
 local('Muli'),
 url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Lato';
src: local('Lato'),
 local('Muli'),
 url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
font-weight: 700;
font-style: bold;
}


/*

@font-face {
font-family: 'Nunito';
src: local('Nunito'),
 local('Nunito'),
 url('/fonts/Nunito/Nunito-Light.ttf') format('truetype');
font-weight: 300;
font-style: light;
}

@font-face {
font-family: 'Nunito';
src: local('Nunito'),
 local('Nunito'),
 url('/fonts/Nunito/Nunito-Light.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}


@font-face {
font-family: 'Fira Mono';
src: local('Fira Mono'),
 local('Fira Mono'),
 url('/fonts/Fira_Mono/FiraMono-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Fira Mono';
src: local('Fira Mono'),
 local('Fira Mono'),
 url('/fonts/Fira_Mono/FiraMono-Bold.ttf') format('truetype');
font-weight: 700;
font-style: bold;
}

@font-face {
font-family: 'Source Code Pro';
src: local('Source Code Pro'),
 local('Source Code Pro'),
 url('/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf') format('truetype');
font-weight: 500;
font-style: medium;
}

@font-face {
font-family: 'Source Code Pro';
src: local('Source Code Pro'),
 local('Source Code Pro'),
 url('/fonts/Source_Code_Pro/SourceCodePro-SemiBold.ttf') format('truetype');
font-weight: 600;
font-style: bold;
}

*/

@font-face {
font-family: 'Inconsolata';
src: local('Inconsolata'),
 local('Inconsolata'),
 url('/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Inconsolata';
src: local('Inconsolata'),
 local('Inconsolata'),
 url('/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
font-weight: 700;
font-style: bold;
}
